<!--========================== Banner Section Start ==========================-->

<!-- <section class="banner-area" style="background-image: url(assets/images/banner/banner.png);">
    <div class="slider-active" id="hero-slider">
        <div class="hero-slide">
            <div class="container">
                <div class="single-slider">
                    <div class="row">
                        col-xl
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slide">
            <div class="container">
                <h1 data-animation="fadeInDown" data-delay="0.5s" style="color: #fff;">Hello World</h1>
            </div>
        </div>
    </div>
</section> -->

<section class="banner-area" style="background-image: url(assets/images/banner/banner.png);">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="banner-content">
                    <h2>Motorsport 8 PRE EU Ubox Series</h2>
                    <div class="game-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <span class="people-rated">(251)</span>
                    </div>
                    <div class="price">
                        <span class="main-price">$48.31</span>
                        <del class="pre-price">$58.31</del>
                        <span class="save-money">Save$10.31</span>
                    </div>
                    <a href="#" class="btn btn-defult">Buy Now</a>
                    
                 </div>
            </div>
            <div class="col-xl-5">
                <div class="banner-img">
                    <img src="assets/images/banner/man.png">
                </div>
            </div>
        </div>
        <div class="more-products row">
            <div class="col-xl-3">
                <a href="#" class="single-more-product">
                    <div class="more-product-img">
                        <img src="assets/images/game-img/1.png">
                    </div>
                    <div class="more-product-details">
                        <div class="more-product-title">
                            <span>Deep Black Gulxckic Sueam Key GLOBAL</span>
                        </div>
                        <span class="more-product-price">$39.41</span>
                    </div>
                </a>
            </div>
            <div class="col-xl-3">
                <a href="#" class="single-more-product">
                    <div class="more-product-img">
                        <img src="assets/images/game-img/2.png">
                    </div>
                    <div class="more-product-details">
                        <div class="more-product-title">
                            <span>Party Animals (PC) - Sueam Key - GLOBAL </span>
                        </div>
                        <span class="more-product-price">$39.41</span>
                    </div>
                </a>
            </div>
            <div class="col-xl-3">
                <a href="#" class="single-more-product">
                    <div class="more-product-img">
                        <img src="assets/images/game-img/3.png">
                    </div>
                    <div class="more-product-details">
                        <div class="more-product-title">
                            <span>Baldur's Gate 3 (PC) - Sueam Account</span>
                        </div>
                        <span class="more-product-price">$39.41</span>
                    </div>
                </a>
            </div>
            <div class="col-xl-3">
                <a href="#" class="single-more-product">
                    <div class="more-product-img">
                        <img src="assets/images/game-img/4.png">
                    </div>
                    <div class="more-product-details">
                        <div class="more-product-title">
                            <span>Reunant II (PC) - Sueam Key - GLOBA</span>
                        </div>
                        <span class="more-product-price">$39.41</span>
                    </div>
                </a>
            </div>
        </div>  
    </div>
</section>


<!--========================== Banner Section End ==========================-->