<!-- ===================== Header Top area start from here ===================== -->

<header class="header-top">
    <div class="container">
        <div class="row align-items-center justify-content-start">
            <div class="col-xl-2">
                <a href="index.html" class="logo">
                    <img src="assets/images/header/Logo.png">
                </a>         
            </div>
            <div class="col-xl-7">
                <div class="header-search-area">
                    <input class="search-box" type="search" placeholder="What are you looking for ?">
                    <select class="category">
                        <option>All Category</option>
                        <option>Gaming PCs</option>
                        <option>Gaming Peripherals</option>
                        <option>Smartphones</option>
                        <option>Battle Royle</option>
                        <option>Moto Car</option>
                        <option>Horor Game</option>
                        <option>Play Missions</option>
                        <option>Brain Tests</option>
                        <option>Racing Vehicles</option>
                        <option>Kids Play</option>
                    </select>
                    <div class="header-search-btn">
                        <button>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="header-top-options">
                    <div class="language">
                        <i class="fa-solid fa-globe"></i>
                        <select class="all-languages">
                            <option>English</option>
                            <option>Spanish</option>
                            <option>French</option>
                            <option>Bangla</option>
                            <option>Hindi</option>
                        </select>
                    </div>
                    <div class="sign-in">
                        <a href="#">
                            <i class="fa-regular fa-user"></i>
                            Sign In
                        </a>
                    </div>
                    <div class="shoping-cart">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- ===================== Header Top area end from here ===================== -->
