<!--========================== Header section Start ==========================-->

<header class="header-area">
    <div class="container">
        <div class="only-menu">
            <div class="row align-items-center justify-content-start">
                <div class="col-xl-3">
                    <ul class="main-menu">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="offset-xl-5 col-xl-4 justify-content-end">
                    <div class="header-feature">
                        <a href="#">
                            <i class="fa-solid fa-computer-mouse"></i>
                            PC Game
                        </a>
                        <a href="#">
                            <i class="fa-solid fa-gamepad"></i>
                            PS4 Game
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-xbox"></i>
                            Xbox Game
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!--========================== Header section End ==========================-->